/* Basic reset and box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%; /* Ensure html and body cover the full viewport height */
}

body {
  background: rgb(51, 66, 66);
  background: -moz-linear-gradient(
    52deg,
    rgba(51, 66, 66, 1) 0%,
    rgba(45, 87, 253, 1) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(51, 66, 66, 1) 0%,
    rgba(45, 87, 253, 1) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(51, 66, 66, 1) 0%,
    rgba(45, 87, 253, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#334242",endColorstr="#2d57fd",GradientType=1);
  background-attachment: fixed; /* Ensure the background does not scroll */
  background-size: cover; /* Ensure the background covers the entire viewport */
}

.kpi-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line when needed */
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.kpi {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  flex: 1;
  min-width: 200px; /* Ensures a minimum width for each KPI */
  margin: 10px; /* Adds space around each KPI for better wrapping */
}

.title {
  display: flex;
  flex-direction: row; /* Align title and icon horizontally */
  align-items: center; /* Aligns items in the center vertically */
  justify-content: space-between; /* Space between icon and text */
}

.title .kpi-icon {
  width: 30px;
  height: auto;
  fill: #007bff;
  margin-right: 10px;
}

.title p {
  font-size: 1rem;
  color: #333;
  font-family: Merriweather, sans-serif;
}

.indicator {
  font-size: calc(2rem + (100vw - 20rem) / 150);
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  color: #333;
  text-align: right;
}
.normal {
  background: #f5f5f5;
}
.losses {
  background: #edc2c0;
}
.increase {
  background: #c0edc0;
}
/* Media query for mobile view */
@media (max-width: 567px) {
  .kpi-container {
    flex-direction: column; /* Stack KPI items vertically on mobile */
    align-items: center; /* Center items horizontally */
  }

  .kpi {
    width: 100%; /* Full width for each KPI on mobile */
    margin: 10px 0; /* Add vertical margins for spacing */
  }

  .title {
    flex-direction: row; /* Keep title and icon on the same plane */
    justify-content: space-between; /* Space between title and icon */
  }

  .indicator {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
}
